/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1300px;
    margin-top: 30px;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

header {
    background-color: #F59A23;
}

footer {
    background-color: rgba(85, 85, 85, 1);
    display: table-row;
    height: 0;
}

.navbar-brand img {
    width: 20%;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


h4 ul {
    color: #F59C28;
}

.price {
    color: red;
}

/* For parsing status panel */
.hidden-panel {
    display: none;
}

#parsingProgrLine {
    transition: width 1s ease;
}

/* Console like div */
.console {
    position: relative;
    width: 100%;
    height: 16em;
    font-family: Consolas;
    background-color: #000;
    color: #dddddd;
    overflow: hidden;
}

    .console .text {
        max-height: 100%;
        overflow-y: auto;
    }

    .console .little-btn {
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 1px;
        background-color: #fff;
        color: #000;
        text-align: center;
        vertical-align: central;
        padding: 0;
        border: 0;
    }

    .console .up {
        right: 37px;
    }

    .console .down {
        right: 18px;
    }

    .console .little-btn:focus{
        outline: none;
    }

    .console .error {
        color: #f00;
    }
    /* For parsing schedule configuration form */
    .parsingScheduleForm select {
        width: 100%;
    }
/*Styles for UserProfile page*/
.favCatCol {
    background-color: #e4e1e1;
}

.favoriteCategories {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.orangeText {
    color: #f59a23;
    text-decoration: underline;
}

.orangeBottom {
    padding: 2px;
    border-bottom: 3px solid #f59a23;
}

.orangeBorder {
    padding: 2px;
    border: 1px solid #f59a23;
    border-radius: 2px;
}


.orangeThead {
    background-color: #f59a23;
    padding-right: 70%;
}

.favCatTable {
    background-color: white;
    text-align: left;
}

    .favCatTable .removeTd {
        text-align: right;
    }

    .favCatTable .removeIcon {
        width: 30px;
        height: 30px;
    }

.addNewCat {
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

    .addNewCat img {
        width: 30px;
        height: 30px;
    }

.eyeIconWelcome {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.reportTitle {
    background-color: #f59a23;
}

.favProductCard {
    display: inline-block;
    border: 1px solid black;
    width: 160px;
    /*height: 300px;*/
    margin-left: 5px;
    text-align: center;
}

    .favProductCard img {
        width: 150px;
        height: 150px;
    }

    .favProductCard .productName {
        display: inline-block;
        padding-bottom: 40px;
    }

    .favProductCard .price {
        display: inline-block;
    }
