
<h4>Оновлення даних</h4>


@using (Html.BeginForm("StartParsing", "Admin", FormMethod.Post))
{
    <input type="submit" value="Оновити примусово"
           class="btn btn-warning" />

    <div class="row">
        <div class="col-4">
            Оновлення розпочалося:
        </div>
        <div class="col-8">
            <span id="parseStartTime"></span>
        </div>
    </div>
    <div id="parsingLine" class="progress">
        <div id="parsingProgrLine" class="progress-bar progress-bar-striped"
             role="progressbar" style="width: 10%"
             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
}