@model IEnumerable<ProductCache>

@* Carousel for displaying hot offers must be here... *@

<div class="row">
    @foreach (ProductCache product in Model)
    {
        <div class="col-4 mb-2">
            @Html.Partial("_HotProduct", product)

        </div>
    }

</div>
