@model List<GainBargain.DAL.Entities.ProductsDemo>

@{
    ViewBag.Title = "Лера, Сеня, сделайте, чтоб ок было";
}

@Html.ActionLink("Parsing", "Sources", "Admin")
@Html.ActionLink("Admin panel", "AdminPanel", "Admin")

<h1>Гарячі пропозиції</h1>

@Html.Partial("_HotProductCarousel", Model);