@model IEnumerable<GainBargain.DAL.Entities.ProductCache>

@if (!Model.Any())
{
    <h4>У данній категорії ще немає товарів</h4>
}

@foreach (var item in Model)
{
    <div class="favProductCard">
        <hr/>
        <div><img src="@item.ImageUrl"/></div>
        <hr/>
        <h3 class="price">@item.Price</h3>
        <div class="productName">@Html.ActionLink(item.Name, "Product", "Catalog", new{id= item.Id}, null)</div>
    </div>
}
