@model IEnumerable<GainBargain.DAL.Entities.FavoriteCategory>

<div class="favoriteCategories">
    @foreach (var item in Model)
    {
        <div id="cat-@item.CategoryId" name="cat-@item.CategoryId">
            <span>@item.Category.Name</span>
            <button class="btn btn-danger" onclick="removeFromFavoriteCategories(@item.CategoryId)">Видалити</button>
        </div>
    }
</div>

<div>
    <h4>Улюблені категорії</h4>
    <input type="text" id="newFavCat" />
</div>
<div>
    <button onclick="addNewFavoriteCategory()" class="btn btn-success">Додати категорію</button>
</div>

@Scripts.Render("~/Scripts/customScripts/userProfile.js")