@model IEnumerable<GainBargain.DAL.Entities.FavoriteCategory>

<div class="favoriteCategories">
    <h4>Улюблені категорії</h4>
    <table class="table table-sm">
        <thead class="orangeThead">
            <tr>
                <th>Назва</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="favCatTable">
            @foreach (var item in Model)
            {
                <tr id="cat-@item.CategoryId">
                    <td>
                        <span>@item.Category.Name</span>
                    </td>
                    <td class="removeTd">
                        <img src="~/Content/img/removeCat.svg" onclick="removeFromFavoriteCategories(@item.CategoryId)" class="removeIcon" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="addNewCat">
    <h4>Додати категорію</h4>
    @Html.DropDownList("FavCategory", ViewBag.Categories as SelectList, "Оберіть категорію",new{id="newFavCat"})
    <img onclick="addNewFavoriteCategory()" src="/Content/img/addFavCat.png"/>
</div>


@Scripts.Render("~/Scripts/customScripts/userProfile.js")