@{
    ViewBag.Title = "Особистий кабінет";
}

<div class="container w-75">
    <div class="row">
        <div class="col-9">
            <h2 class=".orange_text"><u>Особистий кабінет</u></h2>
            <div>
                <h6>Улюблені товари</h6>
                <div>
                    <h6 class="font-weight-light">Натисніть іконку ока при перегляді продукту, щоб слідкувати за ним тут</h6>
                </div>
            </div>
            <div>
                <h6>Щотижневий звіт</h6>
                <div>
                    <h6 class="font-weight-light">Обери улюблені категорії та отримай звіт</h6>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div>
                <h6>Улюблені категорії</h6>
            </div>
            <div>
                <h6>Додати категорію</h6>
            </div>
        </div>
    </div>
</div>

