@{
    ViewBag.Title = "Особистий кабінет";
}

<h2 class=".orange_text">Особистий кабінет (@User.Identity.Name)</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div>
                <h6>Щотижневий звіт</h6>
                <div>
                    <h6 class="font-weight-light">Обери улюблені категорії та отримай звіт</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h6>Улюблені товари</h6>
                <div>
                    <h6 class="font-weight-light">Натисніть іконку ока при перегляді продукту, щоб слідкувати за ним тут</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <h4>Улюблені категорії</h4>
                <input type="text" name="newFavCat" />
            </div>
            <div>
                <button class="btn btn-success">Додати категорію</button>
            </div>
        </div>
    </div>
</div>

