@model GainBargain.WEB.Models.CatalogVM
@{
    ViewBag.Title = "Товари та послуги";
}

<div class="container">
    <div class="row p-2">
        <h2 class=".orange_text"><u>@Model.SuperCategoryName</u></h2>
        <button class="ml-auto">Сортувати за ціною</button>
    </div>
    <div class="row border-top">
        <div class="col-12 col-md-3 border-left">
            <div class="border-bottom m-0 p-1">
                <h6>Постачальники послуг\виробники</h6>
                @foreach(var m in Model.Markets)
                {
                    <p>@m.Name</p>
                }
            </div>
            <div class="border-top m-0 p-1">
                <h6>Підкатегорії</h6>
                @foreach(var c in Model.Categories)
                {
                    <p>@c.Name</p>
                }
            </div>
        </div>
        <div class="col-12 col-md-9 border-left">
            <div class="row d-flex flex-row flex-wrap p-2">
                @Html.Action("Products", new { superCategoryId = Model.SuperCategoryId, categoryId = ViewBag.CategoryId })
            </div>
        </div>
    </div>
</div>

